@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width for vertical scrollbar */
  height: 12px; /* Height for horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 6px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar handle */
}

body {

  background-color: rgb(240, 242, 245);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1024px) {
  .loginbg {
    /* Set background image */
  background-image: url('../public/assets/loginbg.png');
  /* Adjust background size and other properties as needed */
  background-size: cover;
  background-position: center;
  /* Set other styles for your component */
  /* For example: */
  width: 100%;
  height: 100%;
  /* Add more styles as needed */
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginbg {
  background-color: white;
}
/* .drawer-open{
  background-color: transparent;
} */

.drawer{
  background-color: transparent;
}
.glassy-bg {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
  border: 1px solid rgba(0, 0, 0, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);  
  
}
.sadsa{
  color: rgb(60, 180, 60)
}