@tailwind base;
@tailwind components;
@tailwind utilities;
/* Example scrollbar customization */
.react-scrollbars-custom {
  /* Your custom styles here */
}

.react-scrollbars-custom .ScrollbarsTrack {
  background-color: #f1f1f1; /* Track background color */
}

.react-scrollbars-custom .ScrollbarsThumb {
  background-color: #888; /* Thumb color */
  border-radius: 4px; /* Thumb border radius */
}

body {

  background-color: rgb(240, 242, 245);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1024px) {
  .loginbg {
    /* Set background image */
  background-image: url('../public/assets/loginbg.png');
  /* Adjust background size and other properties as needed */
  background-size: cover;
  background-position: center;
  /* Set other styles for your component */
  /* For example: */
  width: 100%;
  height: 100%;
  /* Add more styles as needed */
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginbg {
  background-color: white;
}
.drawer{
  background-color: transparent;
}
.glassy-bg {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   
  border: 1px solid rgba(0, 0, 0, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);   
}
.custom-option {
  padding: 50px;
  background-color: #1d4ed8; /* Tailwind bg-blue-600 */
  color: white;
  border: none;
}
.custom-option:hover {
  background-color: #1a2438; /* Tailwind hover:bg-blue-700 */
}
option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 20px; 
}
